@import 'utils/fonts';
@import 'utils/variables';


body{
  font-family: 'texgyreheroscn', sans-serif;
  max-height: 100%;
  max-width: 100%;
  background: var(--background);
}

.container {
  width: 1200px;
  margin: 0 auto;
}

h1{
  font-size: 24px;
  letter-spacing: 10px;
  font-weight: 500;
  color: var(--primary-text);
  text-align: center;
  margin-top: 5%;
}

img{
  display: block;
  width: 80%;
  margin: 5% auto;
}
